{% extends "layout.njk" %}

    <link rel="stylesheet" href="/styles/partials/form.css">

{% block title %}
    <title>Cadastrar profissional</title>
{% endblock title %}

{% block fail %}
{% endblock fail %}

{% block cards %}
{% endblock cards %}

{% block content %}

    <div class="container-profissional">
        <section class ="gender" >
            <H1>Cadastro de profissional</H1>
        </section>
        
        <aside>
            <div class="card-table">
                    <form  method ="POST" action="/profissionais">
                            <div class="details">
                                {%include  "profissionais/fields.njk"%}
                            </div>
                                <button class="enviar" type="submit">Enviar</button>
                    </form>
                </div>
        </aside>
    </div> 

{% endblock content %}

        <script src="/scripts/scriptForm.js"></script>



