{% extends "layout.njk" %}

    <link rel="stylesheet" href="/styles/partials/form.css">

{% block title %}
    <title>Cadastrar profissional</title>
{% endblock title %}

{% block content %}

    <div class="container-gender">

     <section class ="gender" >
        <H1>Cadastro de profissional</H1>
     </section>
     
     <aside>
         <div class="card-table">
                <form  method ="POST" action="/profissionais">
                         <div class="details">
                        {%include  "profissionais/fields.njk"%}
                         <button class="enviar" type="submit">Enviar</button>
                        </div>
                </form>
             </div>
     </aside>
     
    </div> 

{% endblock content %}

        <script src="/scripts/scriptForm.js"></script>



