
<div class="item">
    <div>Nome do profissional</div>
    <div>
        <input type="text" name="nome" placeholder="Nome e sobrenome" value="{{profissional.nome}}"required>
    </div>
</div>

<div class="item">
    <div>Especialidade</div>
    <div>
        <select name="especialidade">
            <option 
                value="Piscicologia"
                {% if profissional.especialidade == "Piscicologia"   %} selected="selected" {% endif %}>
                Piscicologia
            </option>

            <option 
                value="Nutricao"
                {% if profissional.especialidade == "Nutricao"   %} selected="selected" {% endif %}>
                Nutrição
            </option>

            </select>
    </div>
</div>

