<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="stylesheet" href="/public/styles/global.css">
    <link rel="stylesheet" href="/public/styles/partials/header.css">
    <link rel="stylesheet" href="/public/styles/partials/profissional.css">
    <link rel="stylesheet" href="/public/styles/partials/table.css">
    <link rel="stylesheet" href="/public/styles/partials/animations.css">

    <link rel="shortcut icon" href="/public/assets/icons8-consultation-48.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,400&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <title>Profissionais</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="info-personal">
                <img src="/public/assets/logo-instituto.png" alt="logo do instituto">
            </div>
            <nav>
                <ul>
                    <a href="#">
                        <li>
                            <span>
                                <img src="/public/assets/001-caderno.svg" alt="">
                                <p>Agendar consultas</p>
                            </span>
                            
                        </li>
                    </a>
                    <a href="/src/app/views/consultas/index.html">
                        <li>
                            <span>
                                <img src="/public/assets/004-consulta.svg" alt="">
                                <p>Consultas</p>
                            </span>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <span>
                                <img src="/public/assets/005-adicionar-amigo.svg" alt="">
                                <p>Cadastrar profissionais</p>
                            </span>
                            
                        </li>
                    </a>
                    <a href="/src/app/views/profissionais/index.html">
                        <li>
                            <span>
                                <img src="/public/assets/008-silhueta-de-multiplos-usuarios.svg" alt="">
                                <p>Profissionais</p>
                            </span>   
                        </li>
                    </a>
                    <a href="/src/app/views/financeiro.html">
                        <li>
                            <span>
                                <img src="/public/assets/009-relatorio.svg" alt="">
                                <p>Relatorio <BR>financeiro</p>
                            </span>   
                        </li>
                    </a>    
                    <a href="#">
                        <li>
                            <span>
                                <img src="/public/assets/sair.svg" alt="">
                                <p>Sair</p>
                            </span>   
                        </li>
                    </a>
                </ul>
                 
            </nav>
        </header>

    <div class="container-table">

     <section class ="filter-professional" >
        <H1>Profissionais</H1>
        
     </section>
     
     <aside>
         <div class="card-table">

            <form action="">
                <input type="text " class ="form-check-input" placeholder="Pesquisar por nome ou especialidade">
                <button type="submit" class ="btn btn-info">Pesquisar</button>
            </form>
            <table class="table-container"> 
                <thead>
                    <tr>
                        <th>Nome do profissional</th>
                        <th>Especialidade</th>
                        
                    </tr>
                </thead>
                <tbody>
              
                    <tr>
                        <td>leandro santos</td>
                        <td>Nutrição</td>
                        <td><a href="students/{{student.id}}">Ver</a></td>
                    </tr>

                    <tr>
                        <td>leandro santos</td>
                        <td>Nutrição</td>
                        <td><a href="students/{{student.id}}">Ver</a></td>
                    </tr>

                    <tr>
                        <td>leandro santos</td>
                        <td>Nutrição</td>
                        <td><a href="students/{{student.id}}">Ver</a></td>
                    </tr>

                    <tr>
                        <td>leandro santos</td>
                        <td>Nutrição</td>
                        <td><a href="students/{{student.id}}">Ver</a></td>
                    </tr>

                    <tr>
                        <td>leandro santos</td>
                        <td>Nutrição</td>
                        <td><a href="students/{{student.id}}">Ver</a></td>
                    </tr>

                    
                  
                </tbody>
            </table>
         </div>
     </aside>
    </div>
    </div>
</body>
</html>