{% extends "layout.njk" %}     


        
{% block title %}
    <title>Profissionais</title>
{% endblock title %}

{% block fail %}
{% endblock fail %}

{% block cards %}
{% endblock cards %}

{% block content %}


<div class="container-tprofissional">
     <section class ="filter-professional" >
        <H1>Profissionais</H1>
     </section>
     
     <aside>
         <div class="card-table">
            <form action="/profissionais" method ="GET">
                <input type="text" name ="filter" class ="form-check-input" placeholder="Pesquisar por nome ou especialidade">
                <button type="submit" class ="btn btn-info">Pesquisar</button>
            </form>
            <table class="table-container"> 
                <thead>
                    <tr>
                        <th>Nome do profissional</th>
                        <th>Especialidade</th>
                        <th>Total de consultas</th>
                    </tr>
                 </thead>

                    <tbody>
                     {% for profissional in profissionais %}
                        <tr>
                            <td>{{profissional.nome}}</td>
                            <td>{{profissional.especialidade}}</td>
                            <td>{{profissional.total_consultas}}</td>
                            <td><a href="profissionais/detalhes/{{profissional.id}}">Ver</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

         </div>
     </aside>
</div>

{% endblock content %}