{% extends "layout.njk" %}

    <link rel="stylesheet" href="/styles/partials/form.css">
    

{% block title %}
    <title>Profissional: {{profissional.nome}}</title>
{% endblock title %}

{% block content %}

    <div class="container-gender">

     <section class ="gender" >
        <H1>Perfil do profissional</H1>
     </section>
     
     <aside>
         <div class="card-table">
               <div class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome do paciente</div>
                <div>{{profissional.nome}}</div>
            </div>

            <div class="item">
                <div>Especialidade</div>
                <div>{{profissional.especialidade}}</div>
            </div>

            <a href="/profissionais/detalhes/{{profissional.id}}/edit" class="buttom">Editar</a>

        </div>

    </section>
             </div>
     </aside>
     
    </div> 

    {% block scripts %}
        <script src="/scripts/scriptForm.js"></script>
    {% endblock scripts %}

{% endblock content %}

