{% extends "layout.njk" %}     

{% block title %}
    <title>Profissionais</title>
{% endblock title %}

{% block fail %}
{% endblock fail %}

{% block cards %}
{% endblock cards %}

{% block content %}

<div class="container-profissional">
     {%include "parts/sub-header.njk"%}
    <section class ="gender" >
        <section class ="filter-professional gender" >
            <span class ="title-profissional">    
                <H1>Consultas em aberto</H1>
            </span>
        </section>
     </section>
     
     <aside>
         <div class="card-table">
            <table class="table-container"> 
                <thead>
                    <tr>
                        <th>Nome do paciente</th>
                        <th>Data da consulta</th>
                        <th>Valor da consulta</th>
                        <th>Situação</th>
                        <th></th>
                    </tr>
                 </thead>

                    <tbody>
                     {% for consulta in selectNpagos %}
                        <tr>
                            <td>{{consulta.nome_paciente}}</td>
                            <td>{{consulta.data}}</td>
                            <td> R${{consulta.valor_consulta}}</td>
                            <td>{{"Pago" if consulta.pagamento ==  "P" else "Não pago"}}</td>
                            <td><a href="/consultas/detalhes/{{consulta.id}}">Ver</a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
         </div>
     </aside>
</div>

{% endblock content %}