{% extends "layout.njk" %}     
        
{% block title %}
    <title>Relatorio financeiro</title>
{% endblock title %}


{% block cards %}
{% endblock cards %}

{% block content %}
        <div class="container-table">
     <section class ="cards" >
        <div class="container-card">
            <div class="card active">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/economizando-dinheiro.svg" alt="">
                    </div>
                    <div class="consultas-dia">
                        {% for valores in totalValores %}
                        <p>Valor mensal</p>
                        <div class="mensal">
                            <p>Instituição:</p>
                            <span class ="green">R$: {{valores.valor_instituicao}}</span>
                        </div>
                        <div class="mensal">
                            <p>Profissional:</p>
                            <span>R$: {{valores.valor_profissional}}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                     <div class="info">
                         <p>Valores mensais</p>
                     </div>
            </div>
        </div>

        <div class="container-card ">
            <div class="card">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/atualizar.svg" alt="">
                    </div>
                    <div class="consultas-dia">
                        <p>Pagos e devedores</p>
                        <div class="mensal">
                            <p>Pagos:</p>
                            {% for pagos in totalPagos %}
                            <span class ="green">{{pagos.total_pagos}}</span>
                            {% endfor %}
                        </div>

                        <div class="mensal">
                            <p>Em aberto:</p>
                            {% for NaoPagos in totalNpagos %}
                            <span >{{NaoPagos.total_n_pagos}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                     <div class="info">
                         <p>Valores mensais</p>
                     </div>
            </div>
        </div>
         
        <div class="container-card">
            <div class="container-card ">
                <div class="card">
                    <div class="card-info">
                        <div class="logo-card">
                            <img src="/assets/conselheiro-financeiro.svg" alt="">
                        </div>
                        <div class="consultas-dia">
                            <p>Por profissional</p>
                           <form action="">
                            <input type="text " name="filter" class ="form-check-input" placeholder="Pesquisar por nome ou especialidade">
                            <button type="submit" class ="btn btn-info">Pesquisar</button>
                           </form>
                           <div class=""></div>
                        </div>
                    </div>
                         <div class="info">
                             <p>Valor total mensal de cada profissional</p>
                         </div>
                </div>
            </div>
     </section>
     
     <aside>
         <div class="card-table">
            <table class="table-container"> 
                <thead>
                    <tr>

                        <th>Profissional</th>
                        <th>Especialidade</th>
                        <th>Valor <BR>instituição</th>
                        <th>Valor <BR>profissional</th>
                        <th>Total de consultas</th>

                        
                    </tr>
                </thead>
                <tbody>
              
                        {% for fin in financeiro %}
                    <tr>
                        <td >{{fin.nome}}</td>
                        <td >{{fin.especialidade}}</td>
                        <td >R$ {{fin.valor_instituicao}}</td>
                        <td >R$ {{fin.valor_profissional}}</td>
                        <td >{{fin.total_consultas}}</td>
                        <td><a href="financeiro/profissional/{{fin.id}}">Ver</a></td>
                    </tr>
                        {% endfor %}

                </tbody>
            </table>
         </div>
     </aside>
    </div>
    </div>
    {% endblock content %}
