{% extends "layout.njk" %}     
        
{% block title %}
    <title>Relatorio financeiro</title>
{% endblock title %}


{% block cards %}
{% endblock cards %}

{% block content %}

     <section class ="cards" >
        <div class="container-card">
            <div class="card active">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/economizando-dinheiro.svg" alt="">
                    </div>
                    <div class="consultas-dia">
                        {% for valores in totalValores %}
                        <p>Valor mensal</p>
                        <div class="mensal">
                            <p>Instituição:</p>
                            <span class ="green">R$: {{valores.valor_instituicao}}</span>
                        </div>
                        <div class="mensal">
                            <p>Profissional:</p>
                            <span>R$: {{valores.valor_profissional}}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                     <div class="info">
                         <p>Valores mensais</p>
                     </div>
            </div>
        </div>

        <div class="container-card ">
            <a href="/financeiro/consultas-fechadas">
                <div class="card">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/002-psychology.svg" alt="">
                        </div>
                        <div class="consultas-dia   ">
                            <p>pagos    </p>
                            {% for pagos in totalPagos %}
                            <span class ="green" style="color:green;">{{pagos.total_pagos}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="info">
                        <p>Consultas pagas</p>
                    </div>
            </div>
        </a>
        </div>

        <div class="container-card ">
            <a href="/financeiro/consultas-abertas">
                <div class="card">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/002-psychology.svg" alt="">
                        </div>
                        <div class="consultas-dia">
                            <p>Em aberto</p>
                            {% for NaoPagos in totalNpagos %}
                            <span style = "color:red;" >{{NaoPagos.total_n_pagos}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="info">
                        <p>Consultas não pagas</p>
                    </div>
            </div>
        </a>
        </div>
     </section>
     
     <aside>
         <div class="card-table">
                <form action="">
                    <input type="text " name="filter" class ="form-check-input" placeholder="Pesquisar por nome ou especialidade">
                    <button type="submit" class ="btn btn-info">Pesquisar</button>
                </form>
            <table class="table-container"> 
                <thead>
                    <tr>
                        <th>Profissional</th>
                        <th>Especialidade</th>
                        <th>Total de <br>   consultas  no mes</th>
                        <th>Valor da <BR>instituição</th>
                        <th>Valor do <BR>profissional</th>
                        <th>Todas as <br>  consultas</th>
                    </tr>
                </thead>
                <tbody>
              
                        {% for fin in financeiro %}
                    <tr>
                        <td >{{fin.nome}}</td>
                        <td >{{fin.especialidade}}</td>
                        <td >{{fin.total_consultas}}</td>
                        <td >R$ {{fin.valor_instituicao}}</td>
                        <td >R$ {{fin.valor_profissional}}</td>
                        <td><a href="/financeiro/profissional-consultas/{{fin.id}}">Ver</a></td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
         </div>
    </aside>
</div>
    {% endblock content %}
