
<div class="item">
    <div>Nome Completo</div>
    <div>
        <input type="text" name="nome" placeholder="Nome completo" value="{{user.nome}}">
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input type="email" name="email" value="{{user.email}}">
    </div>
</div>

    <div class="item">
        <div>Senha</div>
        <div>
            <input 
            type="password" 
            name="senha"
            {%if not user.id%}
            placeholder="Escolha uma senha segura" 
            {%else%}
            placeholder="Digite sua senha para atualizar seu cadastro"
            {%endif%}
            >
        </div>
    </div>
{%if not user.id%}
    <div class="item">
        <div>Repetir Senha</div>
        <div>
            <input type="password" name="senhaRepeat" placeholder="Repita a senha">
        </div>
    </div>
{%endif%}

<div class="item">
    <div>Cpf ou Cnpj</div>
    <div>
        <input type="text" name="cpf_cnpj"  placeholder="Valor total da consulta" onkeydown="Mask.apply(this, 'cpfCnpj')" value="{{user.cpf_cnpj}}" >
    </div>
</div>


