@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    height: 100vh;
    color: black;
    background-color: #ebf2f5  !important;
    font-family: 'Roboto', sans-serif i !important;
    
}
:root{
    font-size: 62.5%;
    --color-bg-fundo:#5c83be;
    --color-bg-card:#71a8da;
    --color-font-logo:#5179b5
}


body, input,button,textarea{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;

    line-height: 1;
    font-weight: 400;

}


/*Buttons e input*/

form input{
    background-color: #e1e2e4;
    width: 95%;
    padding: 3px;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px -10px black;
}

form input::placeholder{
    font-size: 1.2rem;
    color:#b0b3bb
    
}

 form button{
    width: 100%;
    outline: none;
   background-color: var(--color-bg-card);
   color:#4e5053;
   border: none;
   border-radius: 3px;
   padding-top: 5px;
   padding-bottom: 5px;
   transition: 200ms;
   margin-top: 5px;
}

form button:hover{
    background-color: var(--color-bg-fundo);
    cursor: pointer;

}