{% extends "layout.njk" %}

{% block title %}
    <title>Consultas</title>
{% endblock title %}

{% block content %} 

     <aside>
         <div class="card-table">
            <table class="table-container"> 
                <thead>
                    <tr>
                        <th>Nome paciente</th>
                        <th>Profissional</th>
                        <th>Especialidade</th>   
                        <th>Data da consulta</th>
                        <th>Hora da consulta</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for consulta in consultas %}
                    <tr>
                        <td>{{consulta.nome_paciente}}</td>
                        <td >{{consulta.prof_nome}}</td>
                        <td >{{consulta.prof_esp}}</td>
                        <td >{{consulta.data}}</td>
                        <td >{{consulta.hora}}</td>
                        <td><a href="/consultas/detalhes/{{consulta.id}}">Ver</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
         </div>
     </aside>
    <script src="/scripts/pagination.js"></script>  
{% endblock content %}

