{% extends "layout.njk" %}


    {% block boostrap %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% endblock boostrap %}

    <link rel="stylesheet" href="/styles/partials/form.css">

{% block title %}
    <title>Agendar consultas</title>
{% endblock title %}

{% block fail %}
{% endblock fail %}

{% block cards %}
{% endblock cards %}

{% block content %}

    <div class="container-profissional">
        <section class ="gender" >
            <H1>Agendamento de consultas</H1>
        </section>
     
        <aside>
            <div class="card-table">
                    <form  method ="POST" action="/consultas">
                            <div class="details">
                            {%include  "consultas/fields.njk"%}
                            <button class="enviar" type="submit">Enviar</button>
                            </div>
                    </form>
                </div>
        </aside>    
    </div> 

{% endblock content %}

        <script src="/scripts/scriptForm.js"></script>

        <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>



