
<div class="item">
    <div>Nome do paciente</div>
    <div>
        <input type="text" name="nome_paciente" placeholder="Nome e sobrenome" value="{{teacher.avatar_url}}">
    </div>
</div>

<div class="item">
    <div>Data da consulta</div>
    <div>
        <input type="date" name="data" value="{{teacher.birth}}">
    </div>
</div>

<div class="item">
    <div>Hora</div>
    <div>
        <input type="text" name="hora" placeholder="Hora da consulta" value="{{teacher.name}}">
    </div>
</div>

<div class="item">
    <div>Especialidade</div>
    <div>
        <select name="especialidade">
            <option 
                value="Piscicologia"
                {% if teacher.escolaridade == "Superior"   %} selected="selected" {% endif %}>
                Piscicologia
            </option>

            <option 
                value="Nutricao"
                {% if teacher.escolaridade == "Mestrado"   %} selected="selected" {% endif %}>
                Nutrição
            </option>

            </select>
    </div>
</div>


<div class="item">
    <div>Valor da consulta</div>
    <div>
        <input type="number" name="valor_consulta" placeholder="Valor total da consulta" onkeyup="mult(this.value)" value="{{teacher.services}}">
    </div>
</div>

<div class="item">
    <div>Valor da instituição</div>
    <div>
        <input type="number" name="valor_instituicao" placeholder="Parte da instituição" id="prof" value="{{teacher.services}}">
    </div>
</div>

<div class="item">
    <div>Valor do profissional</div>
    <div>
        <input type="number" name="valor_profissional" placeholder="Parte do profissional" id="insti" value="{{teacher.services}}">
    </div>
</div>

<div class="item">
    <div>Pagamento adiantado</div>
    <div>
        <span>
            <input type="radio" name="pagamento" id="pagamentoP" value="P" 
            {% if teacher.availability == "P"   %} checked {% endif %}>
            <label for="pagamentoP">Pago</label>
        </span>
        <span>
            <input type="radio" name="pagamento" value="NP" 
            {% if teacher.availability == "O"   %} checked {% endif %} id="pagamentoNP">
            <label for="pagamentoNP">Não pago</label>
        </span>
    </div>
</div>

<div class="item">
    <div>Observações</div>
    <div>
<textarea name="observacao" id="observacao" cols="30" rows="10"  placeholder="Observaçoes extras"></textarea>
    </div>
</div>