{% extends "layout.njk" %}

{% block title %}
    <title>Consultas</title>
{% endblock title %}

{% block content %} 

<div class="container-table">
     <section class ="cards" >
        <div class="container-card">
            <div class="card active">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/006-calendario.svg" alt="">
                    </div>
                    <div class="consultas-dia">
                        <p>Consultas do dia</p>
                        <span>5</span>
                    </div>
                </div>
                     <div class="info">
                         <p>Consultas hoje</p>
                     </div>
            </div>
        </div>

        <div class="container-card ">
            <div class="card">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/002-psychology.svg" alt="">
                    </div>
                    <div class="consultas-dia">
                        <p>Consultas do piscicologia</p>
                        <span>5</span>
                    </div>
                </div>
                <div class="info">
                    <p>Consultas por especialidade</p>
                    
                </div>
               </div>
        </div>
         
        <div class="container-card">
            <div class="card">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/001-pyramid.svg" alt="">
                    </div>
                    <div class="consultas-dia">
                        <p>Consultas de nutrição</p>
                        <span>5</span>
                    </div>
                </div>
                <div class="info">
                    <p>Consultas por especialidade</p>   
                </div>
            </div>
        </div>
     </section>
     
     <aside>
         <div class="card-table">
            <table class="table-container"> 
                <thead>
                    <tr>
                        <th>Nome paciente</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Profissional</th>
                        <th>Especialidade</th>   
                    </tr>
                </thead>

                <tbody>
              
                    <tr>
                        <td>leandro santos</td>
                        <td >20/11/1996</td>
                        <td >18:00</td>
                        <td >Karolyna</td>
                        <td>Nutrição</td>
                        <td><a href="students/{{student.id}}">Ver</a></td>
                    </tr>

                    <tr>
                        <td>leandro santos</td>
                        <td >20/11/1996</td>
                        <td >18:00</td>
                        <td >Karolyna</td>
                        <td>Nutrição</td>
                        <td><a href="students/{{student.id}}">Ver</a></td>
                    </tr>

                    <tr>
                        <td>leandro santos</td>
                        <td >20/11/1996</td>
                        <td >18:00</td>
                        <td >Karolyna</td>
                        <td>Nutrição</td>
                        <td><a href="students/{{student.id}}">Ver</a></td>
                    </tr>

                    <tr>
                        <td>leandro santos</td>
                        <td >20/11/1996</td>
                        <td >18:00</td>
                        <td >Karolyna</td>
                        <td>Nutrição</td>
                        <td><a href="students/{{student.id}}">Ver</a></td>
                    </tr>
     
                </tbody>
            </table>
                <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>
         </div>
     </aside>
</div>


        <script src="/scripts/pagination.js"></script>  
{% endblock content %}

