{% extends "layout.njk" %}

{% block title %}
    <title>Consultas</title>
{% endblock title %}

{% block content %} 

<div class="container-table">
     <section class ="cards" >
        <div class="container-card">
            <div class="card active">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/006-calendario.svg" alt="">
                    </div>
                    <div class="consultas-dia">
                        <p>Consultas do dia</p>
                        {% for consultas in totalConsultas %}
                             <span>{{consultas.total}}</span> 
                        {% endfor %}
                    </div>
                </div>
                     <div class="info">
                         <p>Consultas hoje</p>
                     </div>
            </div>
        </div>

        <div class="container-card ">
            <div class="card">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/002-psychology.svg" alt="">
                    </div>
                    <div class="consultas-dia">
                        <p>Consultas do piscicologia</p>
                        {% for piscicologia in totalPiscicologia %}
                             <span>{{piscicologia.total}}</span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="info">
                    <p>Consultas por especialidade</p>
                    
                </div>
               </div>
        </div>
         
        <div class="container-card">
            <div class="card">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/001-pyramid.svg" alt="">
                    </div>
                    <div class="consultas-dia">
                        <p>Consultas de nutrição</p>
                        {% for nutricao in totalNutricao%}
                             <span>{{nutricao.total}}</span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="info">
                    <p>Consultas por especialidade</p>   
                </div>
            </div>
        </div>
     </section>
     
     <aside>
         <div class="card-table">
            <table class="table-container"> 
                <thead>
                    <tr>
                        <th>Nome paciente</th>
                        <th>Profissional</th>
                        <th>Especialidade</th>   
                        <th>Data da consulta</th>
                        <th>Hora da consulta</th>
                    </tr>
                </thead>

                <tbody>
                    {% for consulta in consultas %}
                    <tr>
                        <td>{{consulta.nome_paciente}}</td>
                        <td >{{consulta.prof_nome}}</td>
                        <td >{{consulta.prof_esp}}</td>
                        <td >{{consulta.data}}</td>
                        <td >{{consulta.hora}}</td>
                        <td><a href="consultas/detalhes/{{consulta.id}}">Ver</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>
         </div>
     </aside>
</div>


        <script src="/scripts/pagination.js"></script>  
{% endblock content %}

