{% extends "layout.njk" %}

    <link rel="stylesheet" href="/styles/partials/form.css">
    

{% block title %}
    <title>Agendar consultas</title>
{% endblock title %}

{% block content %}

    <div class="container-gender">

     <section class ="gender" >
        <H1>Perfil do paciente</H1>
     </section>
     
     <aside>
         <div class="card-table">
               <div class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome do paciente</div>
                <div>{{consulta.nome_paciente}}</div>
            </div>

            <div class="item">
                <div>Data da consulta</div>
                <div>{{consulta.data}}</div>
            </div>

            <div class="item">
                <div>Hora da consulta</div>
                <div>{{consulta.hora}}</div>
            </div>

            <div class="item">
                <div>Especialidade</div>
                <div>{{consulta.especialidade}}</div>
            </div>


            <div class="item">
                <div>Pagamento</div>
                <div>{{"Pago" if consulta.pagamento ==  "P" else "Não pago"}}</div>
            </div>

            <div class="item">
                <div>Valor da consulta</div>
                <div>R$: {{consulta.valor_consulta}}</div>
            </div>

            <div class="item">
                <div>Valor da instituição</div>
                <div>R$: {{consulta.valor_instituicao}}</div>
            </div>

            <div class="item">
                <div>Valor do profissional</div>
                <div> R$: {{consulta.valor_profissional}}</div>
            </div>

             <div class="item">
                <div>Observações</div>
                <div>
                {{consulta.observacao}}
                </div>
            </div>

            <a href="/consultas/detalhes/{{consulta.id}}/edit" class="buttom">Editar</a>

        </div>

    </section>
             </div>
     </aside>
     
    </div> 

    {% block scripts %}
        <script src="/scripts/scriptForm.js"></script>
    {% endblock scripts %}

{% endblock content %}

