<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" method="post">
        Total: <input type="number" id="total" onkeyup="mult(this.value)" /> <br> 
        40%: <input type="text" id="n1"/> <br>
        60%:<input type="text" name="" id="n2">

        <input type="button" value="">
      </form>
      
<script src="teste.js"></script>

</body>
</html>


