<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%include "parts/styles.njk"%}

    {% block title %}   
        <title>Instituto</title>
    {% endblock title %}

</head>
<body>

<div class="container-global">
    <div class="pareativos">
        {% block header %} 
            {%if session.userId == 24 %}
                {%include 'parts/header-admin.njk'%}
            {%else%}
                {%include 'parts/header-usuario.njk'%}
            {% endif %}
        {% endblock header %}
    </div>    
        {% block fail %}
    <div class="container-table">
     {%include "parts/sub-header.njk"%}
        {% endblock fail %}

{%include "parts/messages.njk"%}
{% block cards %}
     <section class ="cards" >
        <div class="container-card ">
            <a href="/consultas/total-consultas-do-dia">
                <div class="card">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/006-calendario.svg" alt="">
                        </div>
                        <div class="consultas-dia">
                            <p>Consultas do dia</p>
                            {% for consultas in totalConsultas %}
                                <span>{{consultas.total}}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="info">
                        <p>Consultas hoje</p>
                    </div>
            </div>
        </a>
        </div>
        <div class="container-card ">
            <a href="/consultas/total-consultas-de-piscicologia">
                <div class="card">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/002-psychology.svg" alt="">
                        </div>
                        <div class="consultas-dia">
                            <p>Consultas de pscicologia</p>
                            {% for piscicologia in totalPiscicologia %}
                                <span>{{piscicologia.total}}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="info">
                        <p>Consultas por especialidade</p>
                    </div>
            </div>
        </a>
        </div>
         
        <div class="container-card">
            <a href="/consultas/total-consultas-de-nutricao">
                <div class="card">
                    <div class="card-info">
                        <div class="logo-card">
                            <img src="/assets/001-pyramid.svg" alt="">
                        </div>
                        <div class="consultas-dia">
                            <p>Consultas de nutrição</p>
                            {% for nutricao in totalNutricao%}
                                <span>{{nutricao.total}}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="info">
                        <p>Consultas por especialidade</p>   
                    </div>
                </div>
            </a>
        </div>
    </section>
    {% endblock cards %}

    {% block content %}

</div>
    {% endblock content %}

        <script src="/scripts/mask.js"></script>
        <script src="/scripts/scriptForm.js"></script>  
        <script src="/scripts/dataFormat.js"></script>  

        <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</div>
</body>
</html>