<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/cards.css">
    <link rel="stylesheet" href="/styles/partials/table.css">
     <link rel="stylesheet" href="/styles/partials/form.css">
    <link rel="stylesheet" href="/styles/partials/animations.css">
    <link rel="shortcut icon" href="/assets/icons8-consultation-48.png" />
   

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,400&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

{% block title %}   
    <title>Instituto</title>
{% endblock title %}


</head>
<body>
<div class="container">
        <header>
            <div class="info-personal">
                <img src="/assets/logo-instituto.png" alt="logo do instituto">
            </div>
            <nav>
                <ul>
                    <a href="/">
                        <li>
                            <span>
                                <img src="/assets/004-consulta.svg" alt="">
                                <p>Consultas</p>
                            </span>
                        </li>
                    </a>
                    <a href="/consultas/agendamento">
                        <li>
                            <span>
                                <img src="/assets/001-caderno.svg" alt="">
                                <p>Agendar consultas</p>
                            </span>
                        </li>
                    </a>
                     <a href="/profissionais">
                        <li>
                            <span>
                                <img src="/assets/008-silhueta-de-multiplos-usuarios.svg" alt="">
                                <p>Profissionais</p>
                            </span>   
                        </li>
                    </a>
                    <a href="/profissionais/cadastro">
                        <li>
                            <span>
                                <img src="/assets/005-adicionar-amigo.svg" alt="">
                                <p>Cadastrar profissionais</p>
                            </span>  
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <span>
                                <img src="/assets/009-relatorio.svg" alt="">
                                <p>Relatorio <BR>financeiro</p>
                            </span>   
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <span>
                                <img src="/assets/sair.svg" alt="">
                                <p>Sair</p>
                            </span>   
                        </li>
                    </a>
                </ul>
                 
            </nav>
        </header>

    {% block content %}
    {% endblock content %}


        <script src="/scripts/scriptForm.js"></script>  


        <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</div>
</body>
</html>