<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%include "parts/styles.njk"%}

    {% block boostrap %}
    {% endblock boostrap %}

    {% block title %}   
        <title>Instituto</title>
    {% endblock title %}

</head>
<body>
    {%include "parts/messages.njk"%}

<div class="container-global">
    <div class="pareativos">
        <header>
            <div class="info-personal">
                <img src="/assets/logo-instituto.png" alt="logo do instituto">
            </div>
            <nav>
                <ul>
                    <a href="/">
                        <li>
                            <span>
                                <img src="/assets/004-consulta.svg" alt="">
                                <p>Consultas</p>
                            </span>
                        </li>
                    </a>
                    <a href="/consultas/agendamento">
                        <li>
                            <span>
                                <img src="/assets/001-caderno.svg" alt="">
                                <p>Agendar <br> consultas</p>
                            </span>
                        </li>
                    </a>
                     <a href="/profissionais">
                        <li>
                            <span>
                                <img src="/assets/008-silhueta-de-multiplos-usuarios.svg" alt="">
                                <p>Profissionais</p>
                            </span>   
                        </li>
                    </a>
                    <a href="/profissionais/cadastro">
                        <li>
                            <span>
                                <img src="/assets/005-adicionar-amigo.svg" alt="">
                                <p>Cadastrar profissionais</p>
                            </span>  
                        </li>
                    </a>
                    <a href="/financeiro">
                        <li>
                            <span>
                                <img src="/assets/009-relatorio.svg" alt="">
                                <p>Relatorio <BR>financeiro</p>
                            </span>   
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <span>
                                <img src="/assets/sair.svg" alt="">
                                <p>Sair</p>
                            </span>   
                        </li>
                    </a>
                </ul>  
            </nav>
        </header>
    </div>    
        {% block fail %}
 <div class="container-table">
        {% endblock fail %}

{% block cards %}
     <section class ="cards" >
        <div class="container-card ">
            <a href="/consultas/total-consultas-do-dia">
                <div class="card">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/006-calendario.svg" alt="">
                        </div>
                        <div class="consultas-dia">
                            <p>Consultas do dia</p>
                            {% for consultas in totalConsultas %}
                                <span>{{consultas.total}}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="info">
                        <p>Consultas hoje</p>
                    </div>
            </div>
        </a>
        </div>
        <div class="container-card ">
            <a href="/consultas/total-consultas-de-piscicologia">
                <div class="card">
                <div class="card-info">
                    <div class="logo-card">
                        <img src="/assets/002-psychology.svg" alt="">
                        </div>
                        <div class="consultas-dia">
                            <p>Consultas de pscicologia</p>
                            {% for piscicologia in totalPiscicologia %}
                                <span>{{piscicologia.total}}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="info">
                        <p>Consultas por especialidade</p>
                    </div>
            </div>
        </a>
        </div>
         
        <div class="container-card">
            <a href="/consultas/total-consultas-de-nutricao">
                <div class="card">
                    <div class="card-info">
                        <div class="logo-card">
                            <img src="/assets/001-pyramid.svg" alt="">
                        </div>
                        <div class="consultas-dia">
                            <p>Consultas de nutrição</p>
                            {% for nutricao in totalNutricao%}
                                <span>{{nutricao.total}}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="info">
                        <p>Consultas por especialidade</p>   
                    </div>
                </div>
            </a>
        </div>
    </section>
    {% endblock cards %}

    {% block content %}

</div>
    {% endblock content %}

        <script src="/scripts/mask.js"></script>
        <script src="/scripts/scriptForm.js"></script>  
        <script src="/scripts/dataFormat.js"></script>  

        <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</div>
</body>
</html>