.container-card a{
    text-decoration: none;
    color: black;

}
.container-profissional{
    display: grid;
    grid-template-rows: 7vh 13vh auto;

}
.container-table{
    display: grid;
    grid-template-rows: 7vh 30vh auto;
}

.user-info-header{
    width: 99.9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px black;
    background-color: #ebf2f5;
}

.user-info-header .info-user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.user-info-header .info-user p{
padding: 15px;

}

.user-info-header .info-user img{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow:  3px 1px 6px -4px black;
    border: 1px solid white;
}

.container-global .cards{
    height: 30vh;
    display: grid ;
    grid-template-columns: repeat(3,1fr) !important;
    opacity: 0;
    animation-name: move;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
}

.filter-professional{
height: 15rem;
display: flex;
align-items: center;
justify-content: center;
animation-name: move;
animation-duration: 700ms;
animation-fill-mode: forwards;
animation-timing-function: ease-out;
animation-delay: 0.2s;

}

.filter-professional h1{
font-size: 4rem;
}

.title-profissional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-table{
    padding: 30px;
}


.container-global .cards .container-card{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
}


.container-global .cards .container-card .card{
    display: grid;
    grid-template-rows:1fr 50px;
    width: 40rem;
    height: 200px;
    background-color: #ebf2f5;
    border-radius: 10px;
    box-shadow: 1px 1px 15px -10px black;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  

}

.container-global .cards .container-card .card:hover,
.container-global .cards .container-card .card:focus,
.container-global .cards .container-card .card:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}


.card .card-info{
    display: grid;
    grid-template-columns: 100px 1fr;
  
}

.card-info .consultas-dia {
    display: flex;
    align-items: center;
    justify-items:flex-end;
    width: 100%;
    font-size: 2.5rem;
    padding-right: 20px;
}

.card-info .consultas-dia p{
    letter-spacing: 1.5px;
}


.card-info .consultas-dia span{
    font-size: 5rem;
    font-weight: bold;

}

.card .card-info .logo-card img {
    margin-left: 20px;
    width: 100%;
    height: 100px;
}

.card-info .logo-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .consultas-dia{
    display: grid;
    text-align: right;

}


.card .info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    letter-spacing: 1px;
    background-color: #d8ddec; 
    border-radius: 0px 0px 10px 10px;
}

/*Card financeiro*/

.consultas-dia .mensal{
    width: 95%;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.consultas-dia .mensal .green{
    color: green;
}

.consultas-dia .mensal span{
    font-size: 1.9rem;
    color: red;
}








