.gender{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
}

.form-profissional{
    margin: 20px;
    
}

.form-profissional button{
    margin: 0;
}

h1{
    font-weight: 500 !important;
    font-family: 'Roboto', sans-serif i !important;
}

.container-gender{
    display: grid;
    grid-template-rows: 10% auto;
}

.container .container-create{
    display: grid;
    grid-template-columns: 150px 1fr;
}


.details {
    padding: 18px  32px 18px 32px;
    min-height: 70vh;
    
}
.put{
    position: relative;
}

.details .item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0 8px;
}

.details .item:first-child {
    border: none;
}

.details h3, .details .item div:nth-child(1) {
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
    color: rgb(16, 7, 146);
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.item span {
    padding: 8px 16px;
    background-color: var(--blue-primary);
    border-radius: 16px;
    color: black;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}    

.card-table.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

form textarea,
 form input {
    width: 100%;
    outline: none;
    border: none;
    color: rgb(61, 60, 60);
    background-color: #d7e0e496 ;
    width: 100%;    
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding:6px;
}

form input:focus{
    color: rgb(92, 91, 90);
    border: solid 3px #86CEEB;
 
}

form select {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #d7e0e496 ;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    padding: 6px;
    border-radius: 5px;
    
}

form input[type="radio"] {
    width: initial;
    font-weight: normal;
}
form textarea,
form input::placeholder {
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    color: black
}

 form button[type="submit"], .buttom {
    padding: 8px 32px;
    background-color:#9cc5e7;
    color: rgb(88, 86, 86);
    font-size: 16px;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;   
   
}

.buttom {
    display: block;
    text-align: center;
    text-decoration: none;
}

.enviar {
    width: 100%;
}

.enviar:hover {
    background-color: #7ebcee;
}

.delete{
    width: 100%;
    background-color: rgba(245, 41, 41, 0.781) !important;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
}

.delete:hover{

    background-color: rgba(207, 27, 27, 0.781) !important;
}


button[type="submit"], .buttom,
.card .put .delete:hover{
  opacity: 0.7;

}

.card .put .salvar{
    width: 50%;
}