.filter-professional{
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: move;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    
}

.filter-professional h1{
    font-size: 4rem;
}


