
aside{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

aside .card-table{
    width: 95%;
    min-height: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 15px -10px black;
    animation-name: move;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    opacity: 0;
}

aside .card-table table{
    width: 100%;
}


.table-container table{
    border-spacing: 0;
}

.table-container thead{
    text-align: left;
}

td, th{
    padding: 16px;
    border-bottom: 1px solid #b4adad9d;
    text-align: center;
}

td{
    font-size: 1.8rem;
    padding: 16px 0;
    height: 70px;
}

th{
    text-transform: uppercase;
    color: var(--blue-primary);
    font-size: 14px;
}

th:nth-child(2){
    text-align: center;
}

th:nth-child(3){
    text-align: center;
    padding-left:0 ;
}


tbody tr:last-child td{
    border: none;
}
tbody tr td:first-child{

    align-items: center;
   
}

tbody tr td:first-child span{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow:  3px 1px 6px -4px black;
    border: 1px solid white;
}

tbody tr td:last-child a{
    background-color: #9cc5e7;
    color:  #194c9e;  
    padding: 8px 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
    transition: 500ms;

}

tbody tr td:last-child a:hover{
    background-color: #a3d0f5;
}




.table-container thead tr th:last-child,
td :last-child{
    text-align: center;
}

tbody tr td:nth-child(2) .border {
    padding: 8px 16px;
    background-color: yellow;
    border-radius: 16px;
    color: black;
    margin-right: 4px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
  
}

.table-container .pagination{
    text-align: center;
    margin: 20px;

}

.pagination a,
.pagination span{
   color: rgb(161, 158, 158);
    text-decoration:none;
    margin: 16px;
}

.pagination a:hover{
    filter:brightness(0.3);
    border-bottom: 1px solid rgb(161, 158, 158);
}

