{% extends "layout.njk" %}

{% block fail %}
{% endblock fail %}

{% block cards %}
{% endblock cards %}

{% block title %}
    <title>404 Error</title>
{% endblock %}


{% block content %}
    <div class="container-not-found" >
        <p>404</p>
        <div class="msg">

        <h1> Pagina não encontrada!</h1>
        <button> <a  href="/">Voltar para home</a></button>
       
        </div>

    </div>
{% endblock %}

{%block script%}
    <script src="/scripts.js"></script>
    {%endblock%}