    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/cards.css">
    <link rel="stylesheet" href="/styles/partials/table.css">
    <link rel="stylesheet" href="/styles/partials/form.css">
    <link rel="stylesheet" href="/styles/partials/messages.css">
    <link rel="stylesheet" href="/styles/partials/animations.css">
    <link rel="shortcut icon" href="/assets/icons8-consultation-48.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,400&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">