     <div class ="user-info-header">
         <a href="javascript:history.back()"><img src="/assets/back.svg" alt=""></a>
        
        <div class="info-user">
            <!--<img src="/assets/karolynaamorzinho.jpg" alt="img usuario">
            <p>{{session.userId}}</p>-->
        </div>
        
     </div>

